<!-- index.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{../css/style.css}">
</head>
<body>
<div class="background"></div>
<div class="container1">

<h1 type="index">Welcome to the Home Page!</h1>

    <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
            <a sec:authorize="hasAuthority('ADMIN')" type="index" href="/admin">
                Go to Admin Page
            </a>
            <a sec:authorize="isAuthenticated" href="/user">
                Go to User Page
            </a>
            <a sec:authorize="isAuthenticated" type="index" th:href="@{/logout}" style="text-decoration: none">
                Logout
            </a>
        </div>
    </div>
</div>

</body>
</html>